<!-- <h2>{{course.name | uppercase}}</h2>

<div><span>id: </span>{{course.id}}</div>
<div><label>name: 
    <input [(ngModel)]="course.name" placeholder="name"/>
</label></div>
-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<h3>Courses</h3>
<ul class="course w3-ul">
    <li class="course li" *ngFor="let course of courses"
    [class.selected]="course === selectedCourse"
    (click)="onSelect(course)">
    <span class="w3-badge">{{course.id}}</span>
    {{course.name}}
</li>
</ul>
<!-- <app-course-detail [course]="selectedCourse"></app-course-detail> -->